@model IEnumerable<LanguageCenter.Core.Models.LanguageModels.LanguageVM>

@{
    ViewData["Title"] = "AllLanguages";
}

<h1>AllLanguages</h1>

<partial name="_MessagePartial" />

<p>
    <a class="btn btn-primary" asp-action="CreateLanguage">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <form asp-action="DeleteLanguage" asp-route-id="@item.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <partial name="_BackToAdminPanel" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
