@using LanguageCenter.Core.Models.TeacherModels
@model IEnumerable<MeetTeachersVM>


<div class="team-boxed">
    <div class="intro">
        <h2 class="text-center" >Нашия Екип</h2>
    </div>
    <div class="container">
        @foreach (var teacher in Model)
        {
            <div class="col-md-6 col-lg-4 item group">
                <div class="box">
                    <img class="rounded-circle" src="~/img/avatar5.png">
                    <h3 class="name">@teacher.FullName</h3>
                    <p class="description">@teacher?.Description</p>
                </div>
            </div>
        }
    </div>
</div>