<div class="custom-text">
    <p>Сертификати за езикови компетенции:</p>
    <hr />
    <p>
        Всички наши курсисти преминали курс или индивидуално обучение и успешно положили съответните изпити по програмите в Центъра за чуждоезиково обучение и специализирана подготовка „Global School“, получават сертификат за езикови компетенции или специализирани умения. Сертификатите за езикови компетенции или специализирани умения се издават от Изпитните комисии на основание протоколите с резултатите от изпитите за всеки един курсист персонално.
    </p>
</div>