@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Езиков център Просвета</h1>
    <br />
    <p class="custom-text">
        Ние сме екип, на който си струва да се доверите – със собствен стил, силна мотивация и младежки ентусиазъм. Нашият потенциал и креативност променят правилата и създават изцяло нова концепция за обучение.
    </p>
    <p class="custom-text">
        Ние непрестанно инвестираме в най-новите програми и методики за обучение в стремежа си да осигурим качество на обучението, отговарящо на най-високите международни стандарти и допринасящо за отличните постижения на нашите ученици.
    </p>
</div>
