@using LanguageCenter.Core.Models.CourseModels
@model List<AllCourseVM>

@if (Model == null)
{
    <h2 style="text-align:center">No current courses available.</h2>
}
else
{
    <div class="row row-cols-2  row-cols-md-3 center" style="display:table">
        @foreach (var item in Model)
        { 
            <div class="card center" style="width: 18rem; margin: 10px; display: table-cell; float:left; width:25%;">
                <img src="~/img/@item.LanguageName" class="card-img-top" width="150" height="200">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Level</p>
                    <a href="/Course/@item.Id" class="btn btn-primary">Повече информация</a>
                </div>
            </div>
        }
    </div>
}