@using LanguageCenter.Core.Models.TeacherModels
@model GetTeacherVM

@{
    ViewData["Title"] = "User Roles";
    var languages = (List<SelectListItem>)ViewBag.Languages;
}

<partial name="_BackToAdminPanel" />

<div class="row">
    <div class="col-4">
        <form id="roles" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="FullName" value="@Model.FullName" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <h3>Teacher: @Html.DisplayFor(m => m.FullName)</h3>
            </div>
            <div class="form-floating">
                <div class="form-group">
                    <label>Languages: </label>
                    <select asp-for="Languages" asp-items="@languages" class="form-control">
                    </select>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>