@if (ViewBag.Message != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @ViewBag.Message
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Ok</span>
        </button>
    </div>
}
